.pattern.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem 0 6rem;

  &.dark {
    padding: 6rem 0;
    background: black;
  }

  .hed {
    width: 100%;
    flex-grow: 3;
  }
}

.card {
  display: flex;
  box-sizing: border-box;
  background-position: center;
  margin: 3rem;
  max-width: 28rem;
  min-width: 28rem;
  box-shadow: 0 1.5rem 3.5rem rgba(50,50,93,.1), 0 0.5rem 1.5rem rgba(0,0,0,.07);
  position: relative;
  flex-direction: column;
  transition: box-shadow .2s;
  border-radius: 3rem;
  overflow: hidden;
  z-index: 1;

  p, a {
    font-size: 1.6rem;
    margin-top: 1rem;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .label, label {
    font-size: 1.5rem;
    padding: 0;
    color: lightgrey;
    margin-bottom: 0;
    margin-top: 0;
  }

  .hed {
    font-size: 2.4rem;
    color: black;
    margin: 0.6rem 0 1rem;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
}

a.card {
  color: grey;
}

a.card:hover {
  box-shadow: 0 0rem 0rem rgba(50,50,93,.1), 0 0.5rem 1.5rem rgba(0,0,0,.07);
}

.card--featured {
  overflow: hidden;

  .image, img {
    width: 100%;
    display: block;
  }
}

.card--content {
  padding: 1.6rem 2rem 2rem;
  background: white;
  position: relative;
  z-index: 1;
}

.card--image  {
  background-position: center;
  background-size: cover;
  box-shadow: unset;
  min-height: 40rem;
  flex-direction: unset;
  align-items: flex-end;

  .card--content {
    padding: 1.6rem 3rem 3rem;
    background: none;
    z-index: 1;

    .hed, label, p {
      color: white;
    }
  }
}

.card--flat {
  box-shadow: unset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: visible;

  .card--content {
    background: none;
    padding: 0;

    .label {
      margin-top: 1rem;
    }
  }
}

.card--micro {
  flex-direction: row;
  margin: 2rem ​3rem;

  &.card--flat {
    background: none;

    .card--content {
      width: 20rem;
      margin: 0 1rem;
      padding: 0;

      p {
        line-height: 1.1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
      }
    }
  }

  .card--featured {
    max-width: 10rem;
    max-height: 10rem;
    width: 10rem;
    height:  10rem;
    background-position: center;
    background-size: cover;

    .image, img {
      height: 10rem;
    }
  }

  .card--content {
    padding:0.8rem 1.2rem;
    width: 100%;
    justify-content: center;

    p, a {
      font-size: 1.4rem;
      line-height: 1.6rem;
      margin-top: 0.5rem;
    }

    .label {
      font-size: 1.2rem;
      padding: 0;
      color: lightgrey;
    }

    .hed {
      font-size: 1.8rem;
      color: black;
      line-height: 1.1;
      letter-spacing: 0;
      font-family: sans-serif;
      margin: 0.2rem 0 0rem;
    }
  }
}

.card--micro.card--flat:hover {
  box-shadow: none;
}

.split .left .card.card--micro,
.split .right .card.card--micro {
  margin: 2rem ​3rem;
}

.card--small {
  max-width: 20rem;
  min-width: unset;

  .card--content {
    padding: 1rem 2rem 2rem;

    .hed {
      font-size: 2rem;
    }

    p, a {
      font-size: 1.4rem;
    }
  }
}

.card--large {
  max-width: 36rem;
  width: 100%;
}

.card--mega {
  max-width: 48rem;
  width: 100%;
  margin-bottom: 9rem;
}

.card--max {
  max-width: unset;
}

.card.dark {
  .card--content {
    background: rgb(30,30,30);

    .hed {
      color: white;
    }

    p {
      color: white;
    }
  }
}

@media (max-width: 800px) {
  .card {
    margin: 3rem 0;
  }
}
