input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
textarea {
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  margin: .3rem 0 0;
  resize: none;
  background: none;
  font-size: 1.8rem;
  padding: 1rem .75rem;
  color: grey;
  border-bottom:1px solid lightgrey;
  transition: border 50ms linear, background 50ms linear,padding 50ms linear;
  border-radius: .3rem;

}

a.button {
  color: white;
  border-radius: .3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 1.8rem;
  height: 4.4rem;
  background: black;
  padding: 1rem 2rem;
  cursor: pointer;

  &:hover {
    color: white;
    opacity: 0.8;
  }
}
