.copy {
  text-align: center;
  max-width: 60rem;
  margin: 0 auto;

  p {
    font-size: 1.8rem;
  }

  &.dark {
    color: white;

    p, .hed {
      color: white;
    }
  }

  &.copy--left {
    text-align: left;
  }

  &.copy--large {
    max-width: 70rem;

    .hed {
      max-width: 70rem;
    }
  }
}

@media (max-width: 800px) {
  .copy {
    text-align: left;
  }
}
